<!doctype html>
<html>
  <head>
    <title>Stats</title>
  </head>
  <body>
    <h2>Squirrel Activities Statistics</h2>
    <p>Please find below a table summarizing the activities performed by the squirrels in Central Park. Each number represents the count of squirrels in the corresponding category.</p>
    <table>
      <tr>
        <th></th>
        <th>Running</th>
        <th>Chasing</th>
        <th>Climbing</th>
        <th>Eating</th>
        <th>Foraging</th>
      </tr>
      <tr>
        <td>True</td>
        <td>{{ running1 }}</td>
        <td>{{ chasing1 }}</td>
        <td>{{ climbing1 }}</td>
        <td>{{ eating1 }}</td>
        <td>{{ foraging1 }}</td>
      </tr>
      <tr>
        <td>False</td>
        <td>{{ running0 }}</td>
        <td>{{ chasing0 }}</td>
        <td>{{ climbing0 }}</td>
        <td>{{ eating0 }}</td>
        <td>{{ foraging0 }}</td>
      </tr>
        </table>
  </body>
</html>
