<!doctype html>
<html>
  <head>
    <title>Stats</title>
  </head>
  <body>
    <h2>Squirrel Activities Stats</h2>
    <p>Below is a simple stats table summarizing the activities performed by the squirrels in  Central Park. Each n
umber represents the count of squirrels in the corresponding category.</p>
    <table>
      <tr>
        <th></th>
        <th>running</th>
        <th>chasing</th>
        <th>climbing</th>
        <th>eating</th>
        <th>foraging</th>
      </tr>
      <tr>
        <td>True</td>
        <td>{{ running1 }}</td>
        <td>{{ chasing1 }}</td>
        <td>{{ climbing1 }}</td>
        <td>{{ eating1 }}</td>
        <td>{{ foraging1 }}</td>
      </tr>
      <tr>
        <td>False</td>
        <td>{{ running0 }}</td>
        <td>{{ chasing0 }}</td>
        <td>{{ climbing0 }}</td>
        <td>{{ eating0 }}</td>
        <td>{{ foraging0 }}</td>
      </tr>
        </table>
  </body>
</html>
<!doctype html>
<html>
