<!doctype html>
<html>
  <head>
    <title>Stats</title>
  </head>
  <body>
    <h2>Squirrel Activities Statistics</h2>
    <p>Please find below two tables summarizing the activities performed by the squirrels in Central Park. Each number represents the count of squirrels in the corresponding category.</p>
    <table>
      <tr>
        <th></th>
        <th>&nbsp;&nbsp;&nbsp;&nbsp;Running&nbsp;&nbsp;&nbsp;&nbsp;</th>
        <th>&nbsp;&nbsp;&nbsp;&nbsp;Chasing&nbsp;&nbsp;&nbsp;&nbsp;</th>
        <th>&nbsp;&nbsp;&nbsp;&nbsp;Climbing&nbsp;&nbsp;&nbsp;&nbsp;</th>
        <th>&nbsp;&nbsp;&nbsp;&nbsp;Eating&nbsp;&nbsp;&nbsp;&nbsp;</th>
        <th>&nbsp;&nbsp;&nbsp;&nbsp;Foraging&nbsp;&nbsp;&nbsp;&nbsp;</th>
      </tr>
      <tr>
        <th>True</th>
        <td>&nbsp;&nbsp;&nbsp;&nbsp;{{ running1 }}&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td>&nbsp;&nbsp;&nbsp;&nbsp;{{ chasing1 }}&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td>&nbsp;&nbsp;&nbsp;&nbsp;{{ climbing1 }}&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td>&nbsp;&nbsp;&nbsp;&nbsp;{{ eating1 }}&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td>&nbsp;&nbsp;&nbsp;&nbsp;{{ foraging1 }}&nbsp;&nbsp;&nbsp;&nbsp;</td>
      </tr>
      <tr>
        <th>False</th>
	<td>&nbsp;&nbsp;&nbsp;&nbsp;{{ running0 }}&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td>&nbsp;&nbsp;&nbsp;&nbsp;{{ chasing0 }}&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td>&nbsp;&nbsp;&nbsp;&nbsp;{{ climbing0 }}&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td>&nbsp;&nbsp;&nbsp;&nbsp;{{ eating0 }}&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td>&nbsp;&nbsp;&nbsp;&nbsp;{{ foraging0 }}&nbsp;&nbsp;&nbsp;&nbsp;</td>
      </tr>
    </table>
    <br>
    <table>
      <tr>
        <th></th>
        <th>&nbsp;&nbsp;&nbsp;&nbsp;Kuks&nbsp;&nbsp;&nbsp;&nbsp;</th>
        <th>&nbsp;&nbsp;&nbsp;&nbsp;Quaas&nbsp;&nbsp;&nbsp;&nbsp;</th>
        <th>&nbsp;&nbsp;&nbsp;&nbsp;Moans&nbsp;&nbsp;&nbsp;&nbsp;</th>
        <th>&nbsp;&nbsp;&nbsp;&nbsp;Tail_Flags&nbsp;&nbsp;&nbsp;&nbsp;</th>
        <th>&nbsp;&nbsp;&nbsp;&nbsp;Tail_Twitches&nbsp;&nbsp;&nbsp;&nbsp;</th>
      </tr>
      <tr>
        <th>True</th>
	<td>&nbsp;&nbsp;&nbsp;&nbsp;{{ kuks1 }}&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td>&nbsp;&nbsp;&nbsp;&nbsp;{{ quaas1 }}&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td>&nbsp;&nbsp;&nbsp;&nbsp;{{ moans1 }}&nbsp;&nbsp;&nbsp;&nbsp;</td>
	<td>&nbsp;&nbsp;&nbsp;&nbsp;{{ tail_flags1 }}&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td>&nbsp;&nbsp;&nbsp;&nbsp;{{ tail_twitches1 }}&nbsp;&nbsp;&nbsp;&nbsp;</td>
      </tr>
      <tr>
        <th>False</th>
        <td>&nbsp;&nbsp;&nbsp;&nbsp;{{ kuks0 }}&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td>&nbsp;&nbsp;&nbsp;&nbsp;{{ quaas0 }}&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td>&nbsp;&nbsp;&nbsp;&nbsp;{{ moans0 }}&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td>&nbsp;&nbsp;&nbsp;&nbsp;{{ tail_flags0 }}&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td>&nbsp;&nbsp;&nbsp;&nbsp;{{ tail_twitches0 }}&nbsp;&nbsp;&nbsp;&nbsp;</td>
      </tr>
    </table>
  </body>
</html>
